/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
    Breakpoint prefix	Minimum width	CSS
        sm	    640px	@media (min-width: 640px) { ... }
        md	    768px	@media (min-width: 768px) { ... }
        lg	    1024px	@media (min-width: 1024px) { ... }
        xl	    1280px	@media (min-width: 1280px) { ... }
        2xl	    1536px	@media (min-width: 1536px) { ... }
*/

:root {
    --black: #1C1C1C;
    --white: #F6F6F6;
    --a1: #9CDDE8;
    --a2: #E096E6;
}

/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE STYLES */
body {
    background: var(--black);
    font-family: "Poppins";
    color: var(--white);
}